<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table user</title>
</head>
<body>
    <table>
        <tr>
            <td>Название</td>
            <td>Оригинальное название</td>
            <td>Год</td>
        </tr>
        <tr>
            <td> Человек паук</td>
            <td> Sider-men</td>
            <td> 2015 </td>
        </tr>
        <tr> Человек паук: возвращение домой<td>
        <td> Spider-men 2</td>
        <td> 2017</td>
    </table>

</body>
</html>